$headerBgColor: lightskyblue;

header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 24px;
  background-color: $headerBgColor;
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
