<p>Diretiva Switch.</p>
<p>keyup.enter - evento que escuta a tecla enter.</p>
<p>tabindex - deixa o elemento navegável com o tab.</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <span>Home</span>
        </li>
        <li class="nav-item">
          <span
            (click)="cases = 'Features'"
            (keyup.enter)="cases = 'Features'"
            tabindex="0"
            >Features</span
          >
          <!-- keyup.enter - evento que escuta a tecla enter -->
          <!-- tabindex - deixa o elemento navegável com o tab -->
        </li>
        <li class="nav-item">
          <span
            #tecla
            (click)="cases = 'Pricing'"
            (keyup.enter)="cases = 'Pricing'"
            tabindex="0"
            >Pricing</span
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="container" [ngSwitch]="cases">
  <div *ngSwitchCase="'Features'" class="pop-up-menu">Pop-up Features!</div>
  <div *ngSwitchCase="'Pricing'" class="pop-up-menu">Pop-up Pricing!</div>
  <div *ngSwitchDefault class="pop-up-menu">Pop-up Default!</div>
</div> -->

<!-- Nova sintaxe: -->

@switch (cases) { @case ('Features') {
<div class="pop-up-menu">Pop-up Features!</div>
} @case ('Pricing') {
<div class="pop-up-menu">Pop-up Pricing!</div>
} @default {
<div class="pop-up-menu">Pop-up Default!</div>
} }

<!-- <ng-template [ngSwitch]="cases">
  <p [ngSwitchCase]="'Features'">Features.</p>
  <p [ngSwitchCase]="'Pricing'">Pricing.</p>
  <p ngSwitchDefault>Default.</p>
</ng-template> -->

