/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  background-color: gray;
}
.article-aula {
  height: 75px;
  overflow-y: hidden;
  border-bottom: 3px solid gray;
}
.container-aula {
  margin-top: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showed-article {
  height: auto;
}
p,li {
  border-bottom: 1px dashed gray;
  font-size: 1.5em;
}
article {
  padding: 15px;
}
