<main>
  <section>
    <article class="estrutura article-aula">
      <div class="container-aula">
        <h1>COMANDOS CLI/ESTRUTURAS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-diretiva-if></app-diretiva-if>
      </div>
    </article>
    <article class="diretivas-estruturais article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS ESTRUTURAIS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <p>
          Diretivas Estruturais - Interagem com a view e modifica o DOM ou
          código HTML.
        </p>
        <p>Componentes são diretivas com Template.</p>
        <p>*ngFor - é uma diretiva(loop).</p>
        <p>Exemplos a seguir</p>
        <ul>
          <li *ngFor="let item of indexNome">
            <!-- para cada index do array ele vai executar oque tem dentro do
            ngFor(item guarda o index). -->
            {{ item + "" + nome }}
          </li>
        </ul>
        <p>*ngIf - é uma diretiva de condição(if & else)</p>
        <p>
          [hidden] - Também é uma opção, ele deixa o elemento no
          <mark>dom ocultado</mark>, mas ainda é visível no devTools, enquanto
          <mark>ngIf o remove</mark>. "hidden" mais apropriado em casos de
          <mark>dinâmica</mark>, porque age como um cache de elemento e mais
          propícios a <mark>alertas</mark> simples(árvores pequenas). ngIf se
          sai melhor com <mark>árvores grandes.</mark>
        </p>
        <p *ngIf="isTrueToggle; else emptyUser">Contem Usuários!</p>
        <ng-template #emptyUser
          ><p [style.font-size]="'1.5em'">Sem Users!</p></ng-template
        >
        <!-- Nova forma de escrita: @if () {} @else {} -->
        @if (isTrueToggle) {
        <p>Boolean True!</p>
        } @else {
        <p>Boolean False!</p>
        }
        <button class="btn btn-primary" (click)="isTrueToggle = !isTrueToggle">
          Boolean Toggle
        </button>
        <div [ngSwitch]="cases">
          <p *ngSwitchCase="1">Switch 1.</p>
          <p *ngSwitchCase="2">Switch 2.</p>
          <p *ngSwitchDefault>Switch Default.</p>
        </div>
        @switch (cases) { @case (1) {
        <p>Case 1.</p>
        } @case (2) {
        <p>Case 2.</p>
        } @default {
        <p>Switch Default.</p>
        } }
      </div>
    </article>
    <article class="diretivas-de-atributos article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS DE ATRIBUTO</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <p>
          Diretivas De Atributo - Interagem com o elemento que foi
          aplicada.(Adiciona uma propriedade/atributo).
        </p>
        <p>Exemplos a seguir</p>
        <div></div>
        <button
          #class
          (click)="isTrueClass = !isTrueClass"
          [ngClass]="{ clicado: isTrueClass, naoClicado: !isTrueClass }"
          class="btn btn-primary"
        >
          Add Class!
        </button>
        <button
          (click)="isTrueStyle = !isTrueStyle"
          [ngStyle]="{ background: isTrueStyle ? 'red' : '' }"
          class="btn btn-primary"
        >
          Add Style!
        </button>
      </div>
    </article>
  </section>
</main>
