<main>
  <section>
    <article class="estrutura article-aula">
      <div class="container-aula">
        <h1>COMANDOS CLI/ESTRUTURAS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-cli-estrutura></app-cli-estrutura>
      </div>
    </article>
    <article class="diretivas-estruturais article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS ESTRUTURAIS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <p>Diretivas usam o prefixo "*ng".</p>
        <app-diretiva-if></app-diretiva-if>
        <app-diretiva-switch></app-diretiva-switch>
        <app-diretiva-for></app-diretiva-for>
      </div>
    </article>
    <article class="diretivas-de-atributos article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS DE ATRIBUTO</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <p>Diretivas usam o prefixo "*ng".</p>
        <app-diretiva-class></app-diretiva-class>
        <app-diretiva-style></app-diretiva-style>
      </div>
    </article>
    <article class="operador-elvis article-aula">
      <div class="container-aula">
        <h1>OPERADOR ELVIS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-operador-elvis></app-operador-elvis>
      </div>
    </article>
    <article class="ng-content article-aula">
      <div class="container-aula">
        <h1>NG-CONTENT</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-ng-content>
          <!-- Posso passar componente como conteúdo também. -->
          <span class="img">
            <img
              src="../../../assets/images-png/nasa.png"
              class="card-img-top"
              alt="imagem png do logo da Nasa"
            />
          </span>
          <span class="legenda">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </span>
        </app-ng-content>
      </div>
    </article>
    <article class="diretivas article-aula">
      <div class="container-aula">
        <h1>DIRETIVA</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-diretivas-customizadas></app-diretivas-customizadas>
      </div>
    </article>
  </section>
</main>
