<main>
  <article class="estrutura article-aula">
    <div class="container-aula">
      <h1>COMANDOS CLI/ESTRUTURAS</h1>
      <button class="btn btn-secondary btn-sm" (click)="showedArticle($event)">
        MORE
      </button>
    </div>
    <div>
      <app-diretiva-if></app-diretiva-if>
    </div>
  </article>
  <article class="EMPTY article-aula">
    <div class="container-aula">
      <h1>DIRETIVAS</h1>
      <button class="btn btn-secondary btn-sm" (click)="showedArticle($event)">
        MORE
      </button>
    </div>
    <div>
      <p>Componentes são diretivas com Template</p>
      <p>*ngFor - é uma diretiva(loop)</p>
      <ul>
        <li *ngFor="let item of [1, 2, 3, 4, 5]">
          <!-- para cada index do array ele vai executar oque tem dentro do
          ngFor(item guarda o index). -->
          {{ item + "" + nome }}
        </li>
      </ul>
      <p>*ngIf - é uma diretiva de condição(if & else)</p> <!-- Nova forma de escrita: @if () {} @else {} -->
      @if (isTrue) {
        <p>Boolean True!</p>
      } @else {
        <p>Boolean False!</p>
      }
      <button class="btn btn-primary" (click)="isTrue = !isTrue">Boolean Toggle</button>
    </div>
  </article>
</main>
