<p>
  Documentação do Angular sobre lifeCycles:
  <a href="https://angular.io/guide/lifecycle-hooks" target="_blank"
    >LifeCycles</a
  >
</p>
<p>
  LifeCycle é um estágio do componente desde sua criação até sua destruição,
  existem métodos que serão executados conforme o estágio que o componente se
  encontra, posso tipar esses métodos com "void" para não retornar valor.
</p>
<ul>
  <li>ngOnInit() - é uma função que será executada sempre que o componente é inicializado/exibido no template, geralmente usado para fazer a chamada do servidor para obter dados e mostrar no template.</li>
  <li>onChange() - é uma função que será executada sempre que algum dado de uma propriedade vinculado ao componente for alterada, geralmente usada com inputs porperties.</li>
  <li>onDestroy() - é uma função que será executada sempre que </li>
</ul>
