<div class="box">
  <h3 style="text-align: center; border-bottom: 1px dashed lightgray">
    Lista feita recebendo dados de um serviço!
  </h3>
  <h4>
    <i>
      Compartilhei eventos e dados entre componente/serviço, fiz isso usando
      "event emitter" e para escutar esse evento usei o método "subscribe", para o
      subscribe funcionar o event emitter precisar estar declarado como static,
      caso contrário não iŕa funcionar.
    </i>
  </h4>
  <div class="dashed" style="display: flex; justify-content: space-around; gap: 20px;">
    <span style="width: 250px; border-bottom: 1px solid red;"></span>
    <span style="width: 250px; border-bottom: 1px solid red;"></span>
    <span style="width: 250px; border-bottom: 1px solid red;"></span>
  </div>
  <h5>Lista De Usuários!</h5>
  <ul>
    @for (user of listUsers; track $index) {
    <li>{{ $index + "-" + user }}</li>
    }
  </ul>
</div>
<div style="width: 100%; border-bottom: 3px solid gray"></div>
