<main (click)="openArticle($event)">
  <article class="interpolacao article-aula">
    <div class="container-tittle">
      <h1>INTERPOLAÇÂO</h1>
      <button type="button" class="btn btn-secondary btn-sm button">more</button>
    </div>
    <p>Soma com interpolação: {{ 3.5 + 3.5 }}</p>
    <p>Soma com função interpolada: {{ 1 + 1 + getValor() }}</p>
    <p>Fazer pedido: {{ order && getOrder() }}</p>
    <!-- Se order for true chama a função -->
  </article>
  <article class="property-bind article-aula">
    <div class="container-tittle">
      <h1>Property binding</h1>
      <button type="button" class="btn btn-secondary btn-sm button">more</button>
    </div>
    <p>
      Img usando interpolação:
      <img src="{{ urlImage }}" alt="Imagem retratando paisagem nevosa" />
    </p>
    <p>
      Img usando property binding === [ propriedade do elemento ]:
      <img [src]="urlImage" alt="Imagem retratando paisagem nevosa" />
      <!-- Mesmo que bind-src="" -->
    </p>
  </article>
  <article class="style-binding article-aula">
    <div class="container-tittle">
      <h1>Class e Style binding</h1>
      <button type="button" class="btn btn-secondary btn-sm button">more</button>
    </div>
    <div>
      Selecione uma classe:
      <!-- Variavel local e event binding -->
      <select #class (change)="(0)">
        <option value="alert-primary">Primeiro Alerta</option>
        <option value="alert-secondary">Segundo Alerta</option>
        <option value="alert-success">Alerta de Sucesso</option>
        <option value="alert-danger">Alerta de Perigo</option>
      </select>
      <!-- Setando classe com interpolação -->
      <div class="alert {{ class.value }}" role="alert">
        Texto colorido conforme o combobox
      </div>
      <!-- Property binding pra adicionar classe conforme o valor na variavel local -->
      <div
        class="alert"
        role="alert"
        [class.alert-primary]="class.value == 'alert-primary'"
      >
        A simple primary alert—check it out!
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-secondary]="class.value == 'alert-secondary'"
      >
        A simple secondary alert—check it out!
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-success]="class.value == 'alert-success'"
      >
        A simple success alert—check it out!
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-danger]="class.value == 'alert-danger'"
      >
        A simple denger alert—check it out!
      </div>
      <!-- Style binding -->
      <div
        class="alert"
        role="alert"
        [class.alert-danger]="class.value == 'alert-danger'"
        [style.display]="class.value == 'alert-danger' ? 'block' : 'none'"
      >
        PERIGO!
      </div>
    </div>
  </article>
  <article class="eventBinding article-aula">
    <div class="container-tittle">
      <h1>Event Binding</h1>
      <button type="button" class="btn btn-secondary btn-sm button">more</button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="alert()">Me clique!</button>
    </div>
    <input
      type="text"
      value=""
      #inputText
      (keyup.enter)="saveValue(inputText.value)"
      (keyup)="onKeyUp($event)"
      (blur)="saveValue(inputText.value)"
    />
    <p>Valor da key = {{ keyBoardValue }}</p>
    <p>Valor salvo do input = {{ savedValue }}</p>
    <span
      (mouseover)="mouseHover()"
      (mouseout)="mouseHover()"
      [class.hover]="isMouseOver == true"
      >Passe o mouse sobre mim.</span
    >
  </article>
  <app-my-form></app-my-form>
  <article class="input-output-properties article-aula">
    <div class="container-tittle">
      <h1>Input/Output-Properties</h1>
      <button type="button" class="btn btn-secondary btn-sm button">more</button>
    </div>
    <div>
      <app-input-property [valorString]="valorString"></app-input-property>
    </div>
  </article>
</main>
