.interpolacao {
  border-top: 3px solid gray;
}
p,
span {
  font-size: 1.5em;
  border-bottom: 1px dashed gray;
  text-align: justify;
}
.hover {
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  main {
    max-width: 900px;
    margin: 50px auto 0px;
  }
}
