<article class="two-way-binding">
  <h3>Two way data binding</h3>
  <div>
    <!-- Primeiro exemplo  -->
    <input
      type="text"
      [value]="nome"
      (input)="nome = valorInput.value"
      #valorInput
    />
    <p>Você digitou o nome: {{ nome }}</p>
    <!-- Segundo exemplo -->
    <input
      type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
    /> <!-- ngModel representa uma entidade / e o ngModelChange é pra quando essa entidade for atualizada -->
    <p>Você digitou o nome: {{ nome }}</p>
    <!-- Terceiro exemplo(MAIS SIMPLIFICADO) com two-way-data-binding -->
    <input
    type="text"
    [(ngModel)]="nome"
  />  <!-- [(ngModel)] bind de propriedade e evento ,forma simplificada do ngModel e ngModelChange juntos
            bindon-ngModel é o mesmo -->
  <p>Você digitou o nome: {{ nome }}</p>
  </div>
  <div>
    <input type="text" [(ngModel)]="pessoa.nome">
  </div>
</article>
