<p>*ngIf - é uma diretiva de condição(if & else)</p>
<p>
  [hidden] - Também é uma opção, ele deixa o elemento no
  <mark>dom ocultado</mark>, mas ainda é visível no devTools, enquanto
  <mark>ngIf o remove</mark>. "hidden" mais apropriado em casos de
  <mark>dinâmica</mark>, porque age como um cache de elemento e mais propícios a
  <mark>alertas</mark> simples(árvores pequenas). ngIf se sai melhor com
  <mark>árvores grandes.</mark>
</p>
<p>Diretiva If.</p>
<p *ngIf="isTrueToggle; else emptyUser">Contem Usuários!</p>
<ng-template #emptyUser>
  <p [style.font-size]="'1.5em'">Sem Users!</p>
  <!-- Variável local pra fazer o else e ng content pra fazer o toggle -->
</ng-template>
<!-- Nova forma de escrita: @if () {} @else {} -->
<!-- Nova sintaxe: -->
@if (isTrueToggle) {
<p>Boolean True!</p>
} @else {
<p>Boolean False!</p>
}
<!-- Oque o "*" da diretiva faz: -->
<ng-template [ngIf]="isTrueToggle">
  <p>ngIf com ngTemplate.</p>
</ng-template>

<button class="btn btn-primary" (click)="isTrueToggle = !isTrueToggle">
  Boolean Toggle!
</button>


