.lista-ng {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: decimal;
}
.lista-ng > li {
  border-bottom: 1px dashed gray;
  width: 90%;
}
li:hover {
  font-weight: bold;
  background-color: lightskyblue;
}
