<main>
  <section>
    <article class="estrutura article-aula">
      <div class="container-aula">
        <h1>COMANDOS CLI/ESTRUTURAS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-cli-estrutura></app-cli-estrutura>
      </div>
    </article>
    <article class="diretivas-estruturais article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS ESTRUTURAIS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <h3>
          <a
            href="https://angular.io/guide/structural-directives"
            target="_blank"
            >Documentação Diretivas Estruturais</a
          >
        </h3>
        <h3>
          Diretivas Estruturais são usadas para
          <mark>modificar a estrutura</mark> do DOM, como toggles de hidden e
          condicionais "if", ela alteram a estrutura do DOM,
          <mark>não a aparência</mark> do elemento.
        </h3>
        <p>Diretivas usam o prefixo "*ng".</p>
        <p>Exemplos a seguir:</p>
        <app-diretiva-if></app-diretiva-if>
        <app-diretiva-switch></app-diretiva-switch>
        <app-diretiva-for></app-diretiva-for>
      </div>
    </article>
    <article class="diretivas-de-atributos article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS DE ATRIBUTO</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <h3>
          <a
            href="https://angular.io/guide/attribute-directives"
            target="_blank"
            >Documentação Diretiva de Atributo</a
          >
        </h3>
        <h3>
          Diretivas de Atributo são usadas <mark>para alterar</mark> a aparência
          de um elemento, adicionar um <mark>comportamento</mark>. Um exemplo
          seria fazer uma validação de <mark>valor do input.</mark>
        </h3>
        <p>Diretivas usam o prefixo "*ng".</p>
        <p>Exemplos a seguir:</p>
        <app-diretiva-class></app-diretiva-class>
        <app-diretiva-style></app-diretiva-style>
      </div>
    </article>
    <article class="operador-elvis article-aula">
      <div class="container-aula">
        <h1>OPERADOR ELVIS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <app-operador-elvis></app-operador-elvis>
      </div>
    </article>
    <article class="ng-content article-aula">
      <div class="container-aula">
        <h1>NG-CONTENT</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <h3>
          <a href="https://angular.io/api/core/ng-content" target="_blank"
            >Documentação ng-content</a
          >
        </h3>
        <app-ng-content>
          <!-- Posso passar componente como conteúdo também. -->
          <span class="img">
            <img
              src="../../../assets/images-png/nasa.png"
              class="card-img-top"
              alt="imagem png do logo da Nasa"
            />
          </span>
          <span class="legenda">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </span>
        </app-ng-content>
      </div>
    </article>
    <article class="diretivas article-aula">
      <div class="container-aula">
        <h1>DIRETIVAS CUSTOMIZADAS</h1>
        <button
          class="btn btn-secondary btn-sm"
          (click)="showedArticle($event)"
        >
          MORE
        </button>
      </div>
      <div>
        <h3>
          <a href="https://angular.io/api/core/Directive" target="_blank"
            >Documentação Diretivas</a
          >
        </h3>
        <app-diretivas-customizadas></app-diretivas-customizadas>
      </div>
    </article>
  </section>
</main>
