<h1 style="text-align: center">DIRETIVA DE ATRIBUTO!</h1>
<div class="box">
  <button
    class="btn"
    (click)="toggleBoolean = !toggleBoolean"
    [ngClass]="{ clicado: toggleBoolean }"
    [ngStyle]="{ background: toggleBoolean ? 'lightgreen' : 'lightgray' }"
    [innerHTML]="toggleBoolean ? 'Estilo Aplicado!' : 'Aplicar Estilo!'"
  >
    Aplicar Estilo!
  </button>
</div>
<div class="box">
  <div>Seu texto: {{ textoInput }}</div>
  <input type="text" [(ngModel)]="textoInput" />
  <button class="btn btn-dark" (click)="sendText()">Enviar Nome!</button>
</div>
<div class="box">
  <button class="btn btn-dark" appCustomDirective>Diretiva Custom Reutilizável!</button>
  <button class="btn btn-dark" appCustomDirective>Diretiva Custom Reutilizável!</button>
</div>
<h2 style="text-align: center; border-bottom: 3px solid gray">
  Conteúdo Encerrado!
</h2>
