<main>
  <app-diretiva-estrutural></app-diretiva-estrutural>
  <app-diretiva-atributo></app-diretiva-atributo>
  <app-ng-content>
    <h3 class="titulo" style="background-color: beige">
      Estou passado esse titulo através do componente "MAIN"!
    </h3>
    <h3 class="texto" style="background-color: beige">
      Estou passado esse texto através do componente "MAIN"!
    </h3>
  </app-ng-content>
  <app-output-property
    (receiveValue)="items($event)"
    [items]="pedirItems"
  ></app-output-property>
  <app-cycle-component *ngIf="toggleBoolean" [valorInput]="valueInput">
    <input type="text" #inputValue />
    <button class="btn btn-warning" (click)="valueInput = inputValue.value">
      Send Name!
    </button>
    <button class="btn btn-danger" (click)="toggleBoolean = !toggleBoolean">
      Deletar Componente!
    </button>
  </app-cycle-component>
</main>
