<h3>
  Posso passar conteúdos <mark>dentro da tag</mark> do meu componente e usá-los
  <mark> dentro do template </mark> do componente, a tag "ng-content" do
  <mark>template</mark>, revela os conteúdos que estão dentro da tag do
  <mark>componente</mark>, para mostrar um elemento específico é preciso
  <mark>dar uma classe</mark> e seleciona-lo com a propriedade "select" no
  "ng-content" com o mesmo nome da classe que está dentro da tag do componente.
</h3>
<p>Posso passar componente como conteúdo também.</p>
<div class="card" style="width: 18rem">
  <ng-content select=".img"></ng-content>
  <!-- <img
    src="../../../assets/images-png/nasa.png"
    class="card-img-top"
    alt="imagem png do logo da Nasa"
  /> -->
  <div class="card-body">
    <p class="card-text">
      <ng-content select=".legenda"></ng-content>
    </p>
  </div>
</div>
