<div class="container-contador">
  <button class="btn btn-success" (click)="incremeto()">+</button>
  <input type="number" class="input-number" [value]="valor" readonly />
  <!-- readonly pra n editar -->
  <button class="btn btn-danger" (click)="decremento()">-</button>
  <button class="btn btn-warning" (click)="reset()">G</button>
  <p>Output-property: <mark>"Arroba"output()</mark>, Cria um Event Binding ("nomeDoEvent") que <mark>pode ser escutado por outro componente</mark> e executar uma função do mesmo, como é declarado: "nomeDoEvent": any = new EventEmitter() e exposto com o decorator citado antes, para disparar o evento "nomeDoEvent", é preciso executar chamando a propriedade ".emit("parametro")" no mesmo componente em que foi criado.
  </p>
</div>
