@mixin menu($content) {
  display: flex;
  align-items: center;
  justify-content: $content;
}
@mixin linkHover {
    color: inherit;
    text-decoration: none;
    transition: 150ms;
    &:hover {
      color: $linkHoverColor;
    }
}
header {
  background-color: $colorHeader;
  @include menu(space-around);
  a {
    @include linkHover()
  }
}
