<h4>
  <a href="https://angular.io/guide/observables-in-angular" target="_blank"
    >Observables Angular!</a
  >
</h4>
<h4><a href="https://angular.io/guide/pipes" target="_blank">PIPES</a></h4>
<h4><a href="#">Promise</a></h4>
<h4>User promise também só pesquisar ae</h4>
<h4>User async para retornar valor depois de dois segundos.</h4>
<h4>User métodos de array, "filter" para filtrar a lista de books.</h4>
<h4>NÃO USAR PIPES PARA FILTRAR ARRAYS.</h4>
<h4>
  Da para escutar o observable com o método ".subscribe" igual no serviço
  (escutei ele com o método onInit).
</h4>
<h4>
  Two way data binding para vincular o valor do input com a variável para
  filtrar os livros.
</h4>
<p>Titulo Livro : {{ livro.titulo | camelCase }}</p>
<!-- <p>Rating Livro : {{ livro.rating | number:'1.0-1' }}</p> -->
<p>Rating Livro : {{ livro.rating }}</p>
<p>Páginas Livro : {{ livro.paginas }}</p>
<!-- <p>Preço Livro : {{ livro.preco | currency : "BRL" }}</p> -->
<p>Preço Livro : {{ livro.preco }}</p>
<p>Lançamento Livro : {{ livro.lancamento | date }}</p>
<p>Url Livro : {{ livro.url }}</p>
<pre>{{ livro | json }}</pre>
<h5>Maneira correta de filtrar nos projetos.</h5>
<div class="box">
  <input type="text" #inputValue />
  <input type="text" placeholder="Search Book!" [(ngModel)]="searchBook" />
  <button class="btn btn-success" (click)="addBook(inputValue.value)">
    Add book!
  </button>
  <ul>
    @for (book of getCourse(); track $index) {
    <li>Livro: {{ $index + 1 + "-" + book }}</li>
    }
  </ul>
</div>
<p>{{ asyncValue | async }}</p>
<p>{{ asyncValueTwo | async }}</p>
